{% extends 'base_analysis.html' %}
{% load static %}

{% block head %}Analysis Selection{% endblock %}
{% block title %}<h1>Analysis Selection</h1>{% endblock %}

{% block content %}
<p>This is checkbox list for selecting analysis processes for <i>{{audio.audio_name}}</i></p>

{{ form.analysisChoices.errors }} 
{{ form.non_field_errors }} 
<form action="{% url 'analysis:history'%}" method="post" id='analysis_selection_form'>
    {% csrf_token %}
    {{ form }}

    <br>
    <!-- TODO: Rendering form manually, to make sure the first analysis:SD+STT is unchangeable and fixed as checked -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Checked checkbox
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
        <label class="form-check-label" for="flexCheckCheckedDisabled">
          Disabled checked checkbox ---> for SD+STT
        </label>
    </div>
    
    <a href="{% url 'analysis:history' %}"><input type="button" value="Cancel"></a> <input type="submit" value="Start">

</form>

{% endblock %}