{% extends 'base_analysis.html' %}
{% load static %}

{% block head %}Report{% endblock %}
{% block title %}<h1>Report</h1>{% endblock %}

{% block content %}
<h2> Audio:</h2>
{% if audio %}
    <div class="container">
        <table class="table table-bordered .w-auto ">
            <tbody>
                <tr>
                    <th style="font-weight:normal;" >
                        <span style="font-weight:bold">Upload filename: </span><br>
                        {{audio.upload_filename}}<br>
                        <span style="font-weight:bold">Audio: </span><br>
                        {{audio.audio_name}}
                    </th>
                    <th>Audio Meta Params</th>
                    <th>Creation</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>
                        {{audio.audio_file}}
                        <audio controls>
                            {% if audio.audio_name == audio.upload_filename %}
                                <source src="{{MEDIA_URL}}/{{audio.audio_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% else %}
                                <source src="{{MEDIA_URL}}/{{zip_folder}}/{{audio.audio_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% endif %}
                        </audio>
                    </td>
                    <td>
                        <ul>
                            {% for k, v in audio_meta.items%}
                                <li>{{k}}: {{v}}</li>
                            {% endfor%}
                        <ul>
                    </td>
                    <td><span style="font-weight:bold">by: </span>{{audio.create_by}} <br> 
                        <span style="font-weight:bold">on: </span>{{audio.create_date}} {{audio.create_time}}
                    </td>
                    <td>{{audio.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <p>No audios are available.</p>
{% endif %}

<h2> Report:</h2>
<p>Add analysis report here....</p>
{% if sttResult %}
<ul>
    {% for record in sttResult%}
        <li>{{record}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}


